@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

* {
  word-spacing: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: #141414;
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgba(20, 20, 20, 255);
  --light-purple: #e3dbfa;
  --dark-purple: #c7b8f5;
  --light-blue: #b8e3fa;
  --dark-blue: #b8dafa;
  --light-green: #d4f6ed;
  --dark-green: #b8f5e3;
  --light-orage: #ffe1cc;
  --dark-orage: #ffd1b8;
  --light-yellow: #fff3cc;
  --dark-yellow: #ffe9b8;
  --light-red: #f9d6d6;
  --dark-red: #f5b8b8;
  --light-pink: #fbe2f4;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb);
}